
.ent-webview {
  width:100%;
  height:100vh;
}

.webview-container{
  position: relative;
}
.back-to-ent-btn{
  background-color: grey;
  position: absolute;
  font-size: 3vw;
  width:10%;

}
#webview-back{
  background-color: grey;
  position: absolute;
  margin-left: 85%;
  width:15%;

}
.ent-logo{
  display: inline-block;
  width: 20%;
  height: 25vh;
}

.ent-contents{
  clear: both;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  height: 85%;

}
